.popup__close-button {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  border-radius: 0;
  border: none;
  background-image: url("../../../images/close-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .popup__close-button {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}
