.photo-cards__title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 22px;
  max-width: 241px;
  margin: 0 auto;
}
