.sign__input {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 13px;
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid #CCCCCC;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  background-color: #000;
  color: #CCCCCC
}
