@import url("./vendor/normalize.css");
@import url("./vendor/fonts/inter.css");
@import url("./blocks/page/page.css");
@import url("./blocks/page/__container/page__container.css");
@import url("./blocks/page/__header/page__header.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/content/__profile/content__profile.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__avatar-container/profile__avatar-container.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__avatar-overlay/profile__avatar-overlay.css");
@import url("./blocks/profile/__text-container/profile__text-container.css");
@import url("./blocks/profile/__title-container/profile__title-container.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/photo-cards/photo-cards.css");
@import url("./blocks/photo-cards/__grid/photo-cards__grid.css");
@import url("./blocks/photo-cards/__element/photo-cards__element.css");
@import url("./blocks/photo-cards/__picture/photo-cards__picture.css");
@import url("./blocks/photo-cards/__title-container/photo-cards__title-container.css");
@import url("./blocks/photo-cards/__title/photo-cards__title.css");
@import url("./blocks/photo-cards/__like-button/photo-cards__like-button.css");
@import url("./blocks/photo-cards/__like-button/_active/photo-cards__like-button_active.css");
@import url("./blocks/photo-cards/__like-counter/photo-cards__like-counter.css");
@import url("./blocks/photo-cards/__delete-button/photo-cards__delete-button.css");
@import url("./blocks/photo-cards/__delete-button/_active/photo-cards__delete-button_active.css");
@import url("./blocks/page/__footer/page__footer.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_photo/popup_photo.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__container/popup__container.css");
@import url("./blocks/popup/__photo-container/popup__photo-container.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__title/_confirmation/popup__title_confirmation.css");
@import url("./blocks/popup/__field/popup__field.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_type/popup__input_type_error.css");
@import url("./blocks/popup/__image/popup__image.css");
@import url("./blocks/popup/__image-caption/popup__image-caption.css");
@import url("./blocks/popup/__submit-button/popup__submit-button.css");
@import url("./blocks/popup/__submit-button/_confirmation/popup__submit-button_confirmation.css");
@import url("./blocks/popup/__submit-button/_disabled/popup__submit-button_disabled.css");
@import url("./blocks/popup/__close-button/popup__close-button.css");
@import url("./blocks/popup/__error/popup__error.css");
@import url("./blocks/popup/__error/_visible/popup__error_visible.css");
